body, .bigBoi, .landing {
  background-color: #ECEFF4;
  max-width: 100%;
  min-height: 45vw;
  max-height: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  top: 0;
  overflow: hidden;
  z-index: 999;
  background: #3B4252;
  display: block;
  width: 100%;
  height: 120px;
  position: fixed;
}
.navbar .logo {
  width: 75px;
  height: auto;
  margin: 20px;
  margin-top: 20px;
}
.navbar .buttons {
  float: right;
}
.navbar .buttons .loginButton, .navbar .buttons .cartButton {
  color: #88C0D0;
  margin: 20px;
  background-color: #3B4252;
  border-style: none;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  padding: 20px;
  margin-top: 8.5%;
  letter-spacing: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.navbar .buttons .cartButton {
  margin-right: 10px;
}
.navbar .buttons .loginButton:hover, .navbar .buttons .cartButton:hover {
  color: #ECEFF4;
}

.cartCounter {
  position: relative;
  z-index: 1000;
  text-align: center;
  border-radius: 2px;
  vertical-align: middle;
  height: 15px;
  width: 50px;
  background-color: #BF616A;
  margin-top: -80px;
  margin-right: 41px;
  display: block;
  width: 3%;
  padding: 3px;
  float: right;
}

.cartnum {
  color: #3B4252;
  font-family: "Raleway", sans-serif;
  margin-top: -3px;
}

.name {
  display: block;
  width: 125px;
  height: 125px;
  margin-left: 47%;
  margin-top: -130px;
  color: #ECEFF4;
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.name:hover {
  color: #88C0D0;
}

.landing {
  background-color: #ECEFF4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.items {
  margin: 35px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items .itemName {
  font-family: "Raleway", sans-serif;
  color: black;
  text-decoration: none;
}
.items .itemPrice {
  font-family: "Vollkorn", serif;
}
.items .itemImage {
  box-shadow: 2px 2px 15px #3B4252;
}

.singleItem {
  background-color: #ECEFF4;
  height: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.singleItem .singleItemImage {
  height: 500px;
  width: 500px;
  box-shadow: 2px 2px 15px #88C0D0;
  margin: 20px;
  margin-top: -150px;
  margin-left: 45px;
}
.singleItem .singleItemNameDiv {
  margin-left: 700px;
  display: flex;
  flex-direction: column;
}
.singleItem .singleItemPrice {
  font-size: 24px;
  font-family: "Vollkorn", serif;
}
.singleItem .itemDesc {
  font-family: "Vollkorn", serif;
  display: block;
  width: 600px;
  word-wrap: break-word;
}
.singleItem .addToCart {
  margin-left: 30vw;
  padding: 0;
  position: relative;
  z-index: 10;
  display: block;
  width: 150px;
  height: 75px;
  border-radius: 2px;
  margin-top: -180px;
  color: #ECEFF4;
  opacity: 0.6;
  background-color: #A3BE8C;
  border-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.addToCart:hover {
  opacity: 1.0;
}

.bigBoi {
  padding-top: 20px;
}

.cart {
  overflow-y: scroll;
  padding-top: 90px;
  min-height: 80vh;
  margin-top: 20px;
  margin: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
}
.cart .cartItemPrice, .cart .cartItemQuantity, .cart .cartItemImage {
  display: block;
  font-family: "Vollkorn", serif;
  margin-left: 5px;
}
.cart .cartRemoveItem {
  margin: 3px;
  color: #ECEFF4;
  border-style: none;
  background-color: #BF616A;
  font-family: "Raleway", sans-serif;
  height: 30px;
}
.cart .subtractQuantity, .cart .plusQuantity {
  margin: 3px;
  color: #ECEFF4;
  border-style: none;
  background-color: #3B4252;
  font-family: "Raleway", sans-serif;
  width: 20px;
  height: 30px;
}
.cart .total, .cart .checkoutButton {
  padding-right: 20px;
  position: fixed;
  top: 200px;
  align-self: flex-end;
  font-family: "Vollkorn", serif;
  display: block;
  width: 150px;
  height: 100px;
  font-size: 20px;
}
.cart .checkoutButton {
  padding-right: 144px;
  font-family: "Raleway", sans-serif;
  top: 250px;
  display: block;
  width: 125px;
  height: 75px;
  color: #ECEFF4;
  opacity: 0.6;
  background-color: #A3BE8C;
  border-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.checkout:hover {
  opacity: 1.0;
}

.footer {
  position: static;
  display: block;
  width: 100%;
  background-color: #3B4252;
  height: 200px;
  color: #D8DEE9;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  body, .App {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
  }

  .name, .cartCounter {
    display: none;
  }

  .landing {
    max-width: 100vw;
    padding-top: 0px;
  }

  .navbar {
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
  }
  .navbar .logo {
    margin: 10px;
    width: 40px;
    height: auto;
  }
  .navbar .loginButton, .navbar .cartButton {
    margin: 10px !important;
    margin-top: 1px !important;
    margin-left: 120px !important;
    margin-right: 0px !important;
    font-size: 18px !important;
    letter-spacing: normal;
  }
  .navbar .cartButton {
    margin-left: 10px !important;
  }

  .items {
    margin-top: 60px;
    margin-left: 45px;
  }

  .bigBoi {
    margin-top: -120px;
  }
  .bigBoi .singleItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bigBoi .singleItem .singleItemImage {
    box-shadow: 2px 2px 15px #88C0D0;
    align-self: center;
    width: 250px;
    height: 250px;
    order: 0;
  }
  .bigBoi .singleItem .singleItemNameDiv {
    margin-left: -10px;
    order: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bigBoi .singleItem .singleItemPrice {
    order: 2;
  }
  .bigBoi .singleItem .addToCart {
    opacity: 1.0;
    margin-left: 40px;
    display: block;
    width: 75%;
    height: 50px;
    order: 3;
  }
  .bigBoi .singleItem .itemDesc {
    width: 75%;
    margin-left: 40px;
    order: 4;
  }
  .bigBoi .singleItemNameDiv, .bigBoi .singleItemPrice, .bigBoi .itemDesc, .bigBoi .singleItemImage, .bigBoi .singleItem, .bigBoi .addToCart {
    padding: 0px;
    margin: 10px;
  }

  .cart {
    padding-top: 10px;
    margin-left: 10px;
  }
  .cart .cartItem {
    margin: 0px;
    overflow: visible;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1366px) {
  body, .App, .bigBoi, .singleItem, .navbar {
    max-width: 1366px;
    overflow-x: hidden;
  }

  .bigBoi {
    padding-top: 0px;
  }
  .bigBoi .singleItem .singleItemNameDiv {
    margin-left: 500px;
  }
  .bigBoi .singleItem .singleItemNameDiv .addToCart {
    position: static;
    margin-left: 500px;
  }
  .bigBoi .singleItem .singleItemImage {
    margin-top: -110px;
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 420px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar .loginButton, .navbar .cartButton {
    margin: 7px !important;
    margin-top: 1px !important;
    margin-left: 60px !important;
    margin-right: 0px !important;
    font-size: 18px !important;
    letter-spacing: normal;
  }
  .navbar .cartButton {
    margin-left: 10px !important;
  }
}

/*# sourceMappingURL=App.css.map */
