$black : #3B4252;
$white: #ECEFF4;
$logoBlue: #88C0D0;
$red: #BF616A;
$green: #A3BE8C;
$offwhite: #D8DEE9;
$purple: #B48EAD;

$fancyFont : 'Raleway', sans-serif;
$poppins : 'Poppins', sans-serif;
$volkorn : 'Vollkorn', serif;

body, .bigBoi,.landing{
  background-color: $white;
  max-width: 100%;
  min-height: 45vw;
  max-height: 100%;
  overflow-x:hidden;
}
h1{
  font-family: $fancyFont
}
a{
  text-decoration: none;
}
.navbar{
  top:0;
  overflow: hidden;
  z-index: 999;
  background: $black;
  display: block;
  width: 100%;
  height: 120px;
  position: fixed;
  // margin-top: -30px;
  .logo{
    width:75px;
    height: auto;
    margin: 20px;
    margin-top: 20px;
  }
  .buttons{
    float: right;

    .loginButton, .cartButton{
      color: $logoBlue;
      margin : 20px;
      background-color: $black;
      border-style: none;
      font-size: 24px;
      font-family: $fancyFont;
      padding: 20px;
      margin-top: 8.5%;
      letter-spacing: 3px;
      border-radius: 3px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;


    }
    .cartButton{
      margin-right: 10px;
    }

    .loginButton:hover , .cartButton:hover{
      color : $white;
    }

  }
}

.cartCounter{
  position:relative;
  z-index: 1000;
  text-align: center;
  border-radius: 2px;
  vertical-align: middle;
  height: 15px;
  width : 50px;
  background-color: $red;
  margin-top:-80px;
  margin-right:41px;
  display:block;
  width:3%;
  padding :3px;
  float: right;
}

.cartnum{
  color: $black;
  font-family: $fancyFont;
  margin-top: -3px;
}

.name{
  display: block;
  width: 125px;
  height:125px;
  margin-left: 47%;
  margin-top:-130px;
  color: $white;
  font-family: $poppins;
  font-size: 42px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.name:hover{
  color: $logoBlue
}

.landing{
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  // padding-top: 30px;


}

.items{
  margin: 35px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .itemName{
    font-family: $fancyFont;
    color: black;
    text-decoration: none;
  }
  .itemPrice{
    font-family: $volkorn;
  }
  .itemImage{
    box-shadow: 2px 2px 15px $black
  }
}

.singleItem{
  background-color: $white;
  height: 850px;
  width: 100%;
  // margin-bottom: -45px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .singleItemImage{
    height: 500px;
    width: 500px;
    box-shadow: 2px 2px 15px $logoBlue;
    margin: 20px;
    margin-top: -150px;
    margin-left: 45px;
  }
  // .singleItemNameDiv,.singleItemPrice, .itemDesc, .addToCart{
  //   padding-left: 40%;
  // }
  .singleItemNameDiv{
    margin-left: 700px;
    display: flex;
    flex-direction: column;
  }
  .singleItemPrice{
    // margin-left: -380px;
    font-size: 24px;
    font-family: $volkorn;
  }
  .itemDesc{
    font-family: $volkorn;
    display: block;
    width: 600px;
    word-wrap: break-word;
  }
  .addToCart{
    margin-left: 30vw;
    padding: 0;
    position: relative;
    z-index:10;
    display: block;
    width: 150px;
    height:75px;
    border-radius: 2px;
    margin-top: -180px;
    color: $white;
    opacity: 0.6;
    background-color: $green;
    border-style: none;
    font-family: $fancyFont;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
}

.addToCart:hover{
  opacity: 1.0;
}

.bigBoi,{
  // height: calc(100vh-120px);
  padding-top: 20px;
}

.cart{
  overflow-y: scroll;
  padding-top: 90px;
  min-height: 80vh;
  margin-top:20px;
  margin:50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;

  .cartItemPrice, .cartItemQuantity, .cartItemImage{
    display: block;
    font-family: $volkorn;
    margin-left: 5px;
  };

  .cartRemoveItem{
    margin: 3px;
    color: $white;
    border-style: none;
    background-color: $red;
    font-family: $fancyFont;
    height: 30px;
  }

  .subtractQuantity, .plusQuantity{
    margin: 3px;
    color:$white;
    border-style: none;
    background-color: $black;
    font-family: $fancyFont;
    width: 20px;
    height: 30px;
  }
  .total,.checkoutButton{
    padding-right: 20px;
    position: fixed;
    top: 200px;
    align-self: flex-end;
    font-family: $volkorn;
    display: block;
    width:150px;
    height:100px;
    font-size: 20px;
  }
  .checkoutButton{
    padding-right: 144px;
    font-family: $fancyFont;
    top:250px;
    display: block;
    width: 125px;
    height:75px;
    color: $white;
    opacity: 0.6;
    background-color: $green;
    border-style: none;
    font-family: $fancyFont;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
}

.checkout:hover{
  opacity: 1.0;
}

.footer{
  position: static;
  display: block;
  width: 100%;
  background-color: $black;
  height: 200px;
  color: $offwhite;
  font-family: $fancyFont;
  padding: 20px;
}

@media only screen and (max-width: 800px){
  body, .App{
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
  }
  .name,.cartCounter{
    display:none
  }
  .landing{
    max-width: 100vw;
    padding-top: 0px;
  }

  .navbar{
    position: fixed;
    height: 60px;
    width: 100%;
    display:flex;

    .logo{
      margin:10px;
      width: 40px ;
      height: auto;
    }

    .loginButton, .cartButton{
    // IMPORTANT IS BAD BUT I DONT KNOW HOW ELSE TO FIX THIS
     margin: 10px !important;
     margin-top:1px !important;
     margin-left:120px !important;
     margin-right: 0px !important;
     font-size: 18px !important;
     letter-spacing: normal;
   }
    .cartButton{
      margin-left: 10px !important;
    }
  }
  .items{
    margin-top: 60px;
    margin-left: 45px;
  }
  .bigBoi{
    margin-top: -120px;;
    .singleItem{
      display: flex;
      flex-direction: column;
      justify-content: center;

    .singleItemImage{
      box-shadow: 2px 2px 15px $logoBlue;
      align-self: center;
      width: 250px;
      height : 250px;
      order:0;
    }
    .singleItemNameDiv{
      margin-left: -10px;
      order:1;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    // .singleItemName{
    //   display: block;
    //
    //   width: 500px;
    //   height: 30px;
    //   ;
    // }
    .singleItemPrice{
      order:2;
    }
    .addToCart{
      opacity: 1.0;
      margin-left: 40px;
      display: block;
      width: 75%;
      height: 50px;
      order: 3;
    }
    .itemDesc{
      width: 75%;
      margin-left: 40px;
      order:4;
    }
  }

     .singleItemNameDiv,.singleItemPrice,.itemDesc,.singleItemImage,.singleItem, .addToCart{
      padding:0px;
      margin:10px;
    }
  }

  .cart{
    padding-top: 10px;
    margin-left: 10px;
    .cartItem{
      margin: 0px;;
      overflow: visible;
    }
  }
}
@media only screen and (min-width: 801px) and (max-width: 1366px){
  body,.App,.bigBoi,.singleItem, .navbar{
    max-width: 1366px;
    overflow-x: hidden;
  }

  .bigBoi{
    padding-top: 0px;
    .singleItem{
      .singleItemNameDiv{
        margin-left: 500px;
        .addToCart{
          position: static;
          margin-left: 500px;
        }
      }
      .singleItemImage{
        margin-top: -110px;
        width: 400px;
        height: 400px;
      }
    }
  }
}
@media only screen and (max-width: 420px){
  body{
    max-width: 100%;
    overflow-x: hidden;
  }
  .navbar{
  .loginButton, .cartButton{
  // IMPORTANT IS BAD BUT I DONT KNOW HOW ELSE TO FIX THIS
   margin: 7px !important;
   margin-top:1px !important;
   margin-left:60px !important;
   margin-right: 0px !important;
   font-size: 18px !important;
   letter-spacing: normal;
 }
 .cartButton{
   margin-left: 10px !important;
 }
}
}
